@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic')

body
    font-family: Arial, Helvetica, sans-serif

main
    position: relative
    width: 100%
    box-sizing: border-box

input[type="text"]

    border: solid 1px #d0d0d0
    font-size: 14px
    font-family: 'Roboto'
    margin-right: 4px
    padding: 5px

button

    border: solid 1px #3d3d3d