
.contract-form_wrapper

    padding-top: 30px
    background-color: #f0f5f4
    width: 100%
    display: flex
    flex-direction: column
    box-sizing: border-box
    border-top: solid 5px #e3e6e6
    border-left: solid 5px #e3e6e6
    width: 80%
    margin: 0 auto
    margin-top: 20px
    position: relative

    @media (max-width: 760px)

        width: 100%

    &::before
   
        content: ''
        display: block
        height: 5px
        position: absolute
        top: -10px
        left: -5px
        width: 30%
        background-color: orange

.component

    &-wrapper

        font-family: 'Roboto', sans-serif
        background-color: white
        padding: 5px 10px 10px 30px

    &-title

        font-family: 'Roboto', sans-serif
        font-size: 20px
        font-weight: bold
        color: #45494a
        padding-bottom: 10px
    
    &-form

        color: #666666
        font-weight: 300
        padding: 5px 10px
        box-sizing: border-box
        border: solid 1px #e3e6e6

        #phone

            width: 125px

        #add_row

            border: solid 1px black
            box-sizing: border-box
            height: 29px

        &__item

            padding-top: 10px

            &_description

                padding-bottom: 5px

        &__title
            
            padding-bottom: 5px

        &__body

            display: flex
            flex-wrap: wrap

        &__input-list

            flex-direction: row
            display: flex
            width: 90%
            margin-bottom: 10px

        &__input-wrapper

            display: flex
            flex-grow: 1

            input

                width: 100%

        &__table
            margin-top: 10px
            display: flex
            flex-wrap: wrap

            &_row

                width: 100%
                display: flex;

            &_col-4
                padding-top: 5px
                padding-bottom: 5px
                padding-left: 10px
                width: 4/12*100%

        &__info-item

            display: flex
            align-items: baseline

            &-item-title

                display: flex
            
            &_dots

                display: flex
                flex-grow: 1
                border-bottom: dotted 3px #666
                margin-left: 10px
                margin-right: 10px

            &_value

                display: flex
        
        &__select-box

            display: flex

            select

                display: flex
                background: transparent
                border: solid 1px #d0d0d0
                padding: 5px 10px
                appearance: button
                width: 100%
                background: url('../assets/down-arrow.svg') no-repeat
                background-size: 20px
                width: 250px
                background-position-x: 210px
                background-position-y: 50%


.sub-item

    margin-left: 20px

.lightgray

    margin-left: 10px
    background-color: lightgray
    color: black